#main-section {
    height:100vh;
    background-image: url(../img/sweet-xmas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pixelify Sans', cursive;
}

#backcards {
    border: 1px solid #131313;
    width: calc(12vw - 10px);
    height: 38vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
    cursor: pointer;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: 0.5s;
    box-sizing: border-box;   
    border-radius: 5%; 
    background-image: url("../img/png-rata.png") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.2);    
    background-color: #6C95E7;
}

/*#backcards:hover {
    width: 175px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.25), 8px 8px 10px rgba(0, 0, 0, 0.2);
}*/

#frontcards {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: rotateY(-180deg);
    backface-visibility: hidden;    
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.3em;
    background-image: url("../img/png-rata.png") ;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;  
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

#backcards::selection {
    background: transparent;
}

#backcards.descubierta {
    transform: rotateY(-180deg);
}

#descubierta {
    background-color: blueviolet;
}

.bet-sala-logo {
    width: 135px;    
    height: 100px;
    background-image: url(../img/bet-sala.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}